/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {

    /* colors */
    --clr-primary: 224 77% 15%; /* dark */
    --clr-white: 210 13% 94%; /* white */
    --clr-accent: 189 100% 57%; /* blue */
    --clr-accent2: 270 100% 54%; /* violet */
    --clr-accent3: 317 100% 57%; /* pink */

    /* typography */
    --ff-serif: "Montserrat Alternates", serif;
    --ff-serif2: "Montserrat", serif;

    /* font-sizes */
    --fs-d: 3.052rem;
    --fs-1: 1.953rem;
    --fs-2: 1.563rem;
    --fs-3: 1.25rem;
    --fs-p: 1rem;
    --fs-c: 0.8rem;

    /* font-weitht */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    /* padding */
    --default: 8px;
    --default-1x: calc(var(--default) * 1);
    --default-2x: calc(var(--default) * 2);
    --default-3x: calc(var(--default) * 3);
    --default-4x: calc(var(--default) * 4);
    --default-5x: calc(var(--default) * 5);
    --default-6x: calc(var(--default) * 6);
    --default-7x: calc(var(--default) * 7);
    --default-8x: calc(var(--default) * 8);

    /* radius */
    --box-rounded: 4px;

    /* padding */
    --pss: calc(var(--default) * 0.5) calc(var(--default) * 0.5);
    --ps1: calc(var(--default) * 0.5) calc(var(--default) * 1);
    --p11: calc(var(--default) * 1) calc(var(--default) * 1);
    --p12: calc(var(--default) * 1) calc(var(--default) * 2);
    --p22: calc(var(--default) * 2) calc(var(--default) * 2);
    --p23: calc(var(--default) * 2) calc(var(--default) * 3);
    --p33: calc(var(--default) * 3) calc(var(--default) * 3);
    --p34: calc(var(--default) * 3) calc(var(--default) * 4);
    --p44: calc(var(--default) * 4) calc(var(--default) * 4);
    --p45: calc(var(--default) * 4) calc(var(--default) * 5);
    --p55: calc(var(--default) * 5) calc(var(--default) * 5);
    --p56: calc(var(--default) * 5) calc(var(--default) * 6);
    --p66: calc(var(--default) * 6) calc(var(--default) * 6);
    --p67: calc(var(--default) * 6) calc(var(--default) * 7);
    --p77: calc(var(--default) * 7) calc(var(--default) * 7);
    --p78: calc(var(--default) * 7) calc(var(--default) * 8);
    --p88: calc(var(--default) * 8) calc(var(--default) * 8);
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 500;
}

/* set up the body */
body {
    font-family: var(--ff-serif2);
    font-size: var(--fs-p);
    font-weight: var(--fw-500);
    color: hsl( var(--clr-primary) );
    background-color: hsl( var(--clr-white) );
    line-height: 1.5;
    min-height: 100vh;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: hsl(var(--clr-primary));
    text-decoration: none;
    cursor: pointer;
}

/* general */
.flex {
    display: flex;
    gap: var(--gap, 8px);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: .75rem;
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}


.skip-to-content:focus {
    transform: translateY(0);
}

/* ------------------- */
/* Utilities           */
/* ------------------- */

/* colors */
.bg-primary { background-color: hsl( var(--clr-primary) );}
.bg-accent { background-color: hsl( var(--clr-accent) );}
.bg-accent2 { background-color: hsl( var(--clr-accent2) );}
.bg-accent3 { background-color: hsl( var(--clr-accent3) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-primary { color: hsl( var(--clr-primary) );}
.text-accent { color: hsl( var(--clr-accent) );}
.text-accent2 { color: hsl( var(--clr-accent2) );}
.text-accent3 { color: hsl( var(--clr-accent3) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */
.uppercase { text-transform: uppercase; }

.fs-h1 { font-size: var(--fs-1); }
.fs-h2 { font-size: var(--fs-2); }
.fs-h3 { font-size: var(--fs-3); }
.fs-d { font-size: var(--fs-d); }
.fs-p { font-size: var(--fs-p); }

.fw-400 { font-weight: var(--fw-400); }
.fw-500 { font-weight: var(--fw-500); }
.fw-600 { font-weight: var(--fw-600); }
.fw-700 { font-weight: var(--fw-700); }
.fw-800 { font-weight: var(--fw-800); }

.display,
h1,
h2,
h3 {
    font-family: var(--ff-serif);
}

*::selection {
    color: hsl( var(--clr-primary) );
    background-color: hsl( var(--clr-accent) );
}

.display {
    font-size: var(--fs-d);
    font-weight: var(--fw-800);
    line-height: 120%;
}

h1 {
    font-size: var(--fs-1);
    font-weight: var(--fw-800);
    line-height: 130%;
}

.h1-big {
    padding: var(--default-3x) var(--default-8x);
}

h2 {
    font-size: var(--fs-2);
    font-weight: var(--fw-700);
}

h3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
}

p {
    font-size: var(--fs-p);
    font-weight: var(--fw-500);
}

.caption {
    font-size: var(--fs-c);
    font-weight: var(--fw-400);
}

.no-break {
    white-space: nowrap !important;
}

/* text template */
.half-highlight {
    background: linear-gradient(to top, var(--bg-color, hsl(var(--clr-accent))) 40%, transparent 50%);
}

.tipe2 {
    --bg-color: hsl(var(--clr-accent3));
}

.besar-tengah {
    max-width: 750px;
    text-align: center;
}

/* ------------------- */
/* Components          */
/* ------------------- */

/* buttons */
.button {
    place-items: center;
    border-radius: var(--box-rounded);
    text-decoration: none;
    border-style: none;
    box-shadow: inset;
    cursor: pointer;
}

.sec-button {
    box-shadow: 0 0 0 1px hsl( var(--clr-primary) / var(--line-opacity, 0.15));
    color: hsl(var(--clr-primary) );
    padding: var(--ps1);
}

.ms-button {
    box-shadow: 0 0 0 1px hsl( var(--clr-primary) / 0.15);
    color: hsl(var(--clr-primary) );
    fill: hsl(var(--clr-primary) / 0.15);
    padding: var(--pss);
}


/* glass effect */
.white-glass {
    background: hsl( var(--clr-white) / var(--opacity, 0.3) );
    backdrop-filter: blur(var(--blur, 6px));
}

/* ------------------- */
/* layout config       */
/* ------------------- */

.full-height {
    height: 100vh;
}

.fill-height {
    flex-grow: 1;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.midle {
    align-items: center;
}

.no-gap { gap: 0; }

.auto-gap { 
    justify-content: space-between;
}

.fit {
    width: fit-content;
    height: fit-content;
}

.clip {
    overflow: hidden;
}

.gap-1x { gap: calc(var(--default) * 1);}
.gap-2x { gap: calc(var(--default) * 2);}
.gap-3x { gap: calc(var(--default) * 3);}
.gap-4x { gap: calc(var(--default) * 4);}
.gap-5x { gap: calc(var(--default) * 5);}
.gap-6x { gap: calc(var(--default) * 6);}
.gap-7x { gap: calc(var(--default) * 7);}
.gap-8x { gap: calc(var(--default) * 8);}

.no_wrap {
    white-space: nowrap;
}

/* ------------------- */
/* Sepsifik            */
/* ------------------- */

/* navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: var(--default-3x) var(--default-8x);
    --opacity: 0.8;
    --blur: 8px;
}

#after-nav {
    padding-top: 88px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2px 4px;
    width: 36px;
    height: 36px;
    background: hsl(var(--clr-accent));
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo > p {
    font-size: 12px;
    font-weight: 800;
}

#nav_right_side {
    width: 93px;
    background: hsl( var(--clr-primary) / 0.05);
    border-radius: 4px;
    align-self: stretch;
}

.button_lm {
    align-self: stretch;
    flex-grow: 1;
    font-family: var(--ff-serif2);
    font-weight: var(--fw-400);
    font-size: var(--fs-c);
    border-end-end-radius: 4px;
    border-top-right-radius: 4px;
}

#ln_selected {
    font-weight: var(--fw-700);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-primary));
}

/* foto profil */
#foto-profil {
    position: relative;
    justify-content: center;
    align-items: center;
    aspect-ratio: 0.8 / 1;
    background-image: url('images/assets/foto-saya.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

#foto-profil > * {
    position: absolute;
}

.gradient-line {
    height: 2.4px;
    width: 100%;
    background-image: linear-gradient(to right, hsl(var(--clr-accent2) / 0), hsl(var(--clr-accent2)), hsl(var(--clr-accent2) / 0));
    bottom: 0;
}

#fp-box {
    left: 78%;
    top: 45%;
    width:auto;
    border-radius: 4px;
    --line-opacity: 0.05;
    padding: var(--p22);
}

#fp-box > p {
    width: auto;
}

#fp-box2 {
    right: 75%;
    bottom: 35%;
    width: auto;
    border-radius: 4px;
    --line-opacity: 0.05;
    padding: var(--p22);
}

#fp-box2 > p {
    width: auto;
}

.fp-ball {
    width: var(--default-8x);
    height: var(--default-8x);
    background-color: hsl( var(--clr-accent2) );
    border-radius: 100%;
    z-index: -1;
}

#fp-ball1 {
    left: calc(78% - 16px);
    top: calc(45% - 32px);
}

#fp-ball2 {
    right: calc(75% - 8px);
    bottom: calc(35% - 32px);
}

/* bagian tools */
#tools-used {
    padding: var(--default-1x);
    max-width: 100%;
}

#tools-used div {
    width: auto;
}

#tools-used div::before {
    content: '\00a0';
    height: 16px;
    aspect-ratio: 1 / 1;
    background-color: hsl( var(--clr-primary) );
    border-radius: 100%;
}

